@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: whitesmoke;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(./background.png);
    background-image: url(https://i.pinimg.com/originals/a9/2e/7b/a92e7b6aa6548eff15ffd5d947fac101.jpg);
    background-position: center;
    background-size: cover;
    gap: 40px;
}

.container {
    margin: 20px 0px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f845cb59;
    margin: 10px 0px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.input #text-box {
    min-height: 5vh;
    width: 80vw;
    outline: none;
    border: none;
    background-color: #ededee;
    color: black;
    font-weight: 450;
    padding: 10px 10px;
    border-radius: 10px;
    position: relative;
}

.input #text-box[data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: gray;
    position: absolute;
}

p div {
    color: black;
}

.input button {
    color: white;
    padding: 10px 20px;
    background-color: #457ef8;
    margin: 10px 0px;
    border: none;
    font-weight: 650;
    border-radius: 10px;
    cursor: pointer;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#left, #right {
    min-width: 40vw;
    max-width: 40vw;
    min-height: 70vh;
    background-color: rgba(233, 32, 240, 0.486);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
}

#right .task {
    padding: 10px;
    border-radius: 5px;
    font-weight: 550;
    background: linear-gradient(210deg, #f71c1c, #044fc0);
    margin: 10px 0px;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    text-decoration: line-through;
    color: rgb(243, 236, 236);
}

.task {
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    background: linear-gradient(210deg, #044fc0, #f71c1c);
    margin: 10px 0px;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    text-overflow: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main h2 {
    font-size: 1.2em;
    text-align: left;
    margin: 5px 10px;
}

.main h2 span {
    color: rgb(45, 255, 45);
}

.task i {
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(45deg, #f5ac4dfa, #ca6060);
    color: rgb(255, 255, 255);
}

#right .task i {
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(45deg, #f5ac4dfa, #ca6060);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* .toast {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
} */
/* 
.toast .error, .toast .success {
    display: none;
    width: 200px;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 0px 10px black;
}

.toast .error h2, .toast .error i {
    color: red;
    font-weight: 400;
}

.toast .success i {
    color: rgb(1, 65, 1);
    font-weight: 500;
}

.toast .success h2 {
    color: black;
    font-weight: 400;
} */
